body {
    margin: 60px auto;
    width: 70%;
}

@font-face { font-family: raleway-regular;
			 src: url('../assets/Raleway-Regular.ttf'); }
@font-face { font-family: montserrat-semibold;
       src: url('../assets/Montserrat-SemiBold.ttf'); }
h2 {
	font-family: montserrat-semibold;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #800080;
}
a:hover {
    text-decoration: underline;
}
h1 {
	  font-family: montserrat-semibold;
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family: raleway-regular;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
