@font-face {
    font-family: raleway-regular;
    src: url('../assets/Raleway-Regular.ttf');
}
@font-face {
    font-family: montserrat-semibold;
    src: url('../assets/Montserrat-SemiBold.ttf');
}



blockquote {
  color: #ffffff;

  font-style: italic;
  font-size: 0.9em;
  line-height: 1.2em;

}

body {
    background-color: #242635;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: montserrat-semibold;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    font-family: montserrat-semibold;
    display: inline;
    margin-right: 20px;
}
a {
    font-family: raleway-regular;
    font-size: 1em;
    line-height: 1em;
    color: #5952e3;
}
a:hover {
    color: #57A0FF;
    text-decoration: underline;
}
h1 {
    color: #A252E3;
    font-family: montserrat-semibold;
    font-size: 2em;
    counter-reset: h2counter;
}
h2 {
    color: #c652e3;
    font-family: montserrat-semibold;
    counter-reset: h3counter;
}
h3 {
    color: #c652e3;
    font-family: montserrat-semibold;
    counter-reset: h4counter;
}


h4 { counter-reset: h5counter; }
h5 { counter-reset: h6counter; }
h6 {}

h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
    counter-increment: h6counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
}


p {
    font-family: raleway-regular;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #dedede;
}
/* Tables and shizz
 */
table {
    border-collapse: collapse;
}
th {
    text-transform: uppercase;
    color: #fff;
    border-bottom:1px solid #333543;
    vertical-align: bottom;
    padding: 8px;
}
table td {
    color: #7E8190;
    border: 1px solid #333543;
    padding: 8px;
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}
footer {
	  font-family: montserrat-semibold;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
table {
      font-family: raleway-regular, helvetica, sans-serif;
}
li {
      font-family: raleway-regular, helvetica, sans-serif;
      font-size: 1em;
      line-height: 1.2em;
      color: #ffffff;
}
ul.posts {
    font-family: raleway-regular;
    margin: 20px auto 40px;
    font-size: 1.5em;
    color: #a4a7b5;
}
ul.posts li {
    font-family: raleway-regular;
    color: #a4a7b5;
}
.highlight {
    background-color: #d8d6f9;
}

<style>

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: #242635;
  color: #a4a7b5;
  font-style: italic;
  padding: 4px;
  text-align: center;
}
</style>
